*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: auto;
  width: 70%;
}


a {
  text-decoration: none;
}

a.color-blue {
  color: #005fff;
  text-decoration: underline;
}


.button {
  display: inline-block;
  background-color: #0061ff;
  color: white;
  padding: 10px 40px;
  text-align: center;
}

.button:hover {
  filter: brightness(1.2);
}

.col {
  width: calc((100% - 100px) / 3);
  float: left;

}

.col-height-1100 {
  height: 1100px;
}

.center-col {
  margin: 0 50px;
}

#bot-col {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


h2 {
  font-size: 50px;
  margin: 60px 0px;
}

.width-30{
  width: 30%;
}

.width-70{
  width: 70%;
}

/* END UTILITIES */

/* HEADER */

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 72px;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

nav img {
  vertical-align: middle;  
  height: 30px;
  margin-left: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 70px;
  margin-right: 30px;
}

nav ul li a {
  display: inline-block;
  padding: 0 5px;
  line-height: 70px;
  color: black;
}

nav ul li a:hover {
  border-bottom: 2px solid black;
}

.but-nav {
  line-height: 20px;
}

.but-nav:hover{
  border-bottom: 0;
  
}

/* BONUS 1 */

.dropdown {
  display: inline-block;
}

.content-supporto {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 15px 0;
}

.dropdown:hover .content-supporto {
  display: block;
  background-color: white;
  line-height: 30px;
}

.content-supporto span{
  display: block;
  padding: 10px;
}

.content-supporto span:hover{
  display: block;
  background-color: #dedee0;
}

/* /BONUS 1 */


/* END HEADER */

/* JUMBO */


.jumbotron {
  padding-top: 70px;
  background-color: #b4d0e7;
  margin-bottom: 150px;
}

.container-jumbo {
  max-width: 1600px;
  width: 80%;
  margin: auto;
}


.text-jumbo {
  width: 30%;
  height: 100%;
  margin-bottom: -50px;
}

.margin-top-20 {
  margin-top: 20px;
  
}

.img-jumbo {
  width: 70%;
  margin-bottom: -50px;
}

.img-jumbo img {
  width: 100%;
 
}

h1 {
  font-size: 70px;
  margin: 3% 0px;
}

.text-jumbo p {
  margin-bottom: 20px;
}
.text-jumbo span {
  margin-top: 20px;
}

.fa-arrow-down {
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
}

/* END JUMBO */

/* MAIN */


input[type="radio"] {
  -webkit-appearance: none;  /*ho studiato un po webkit e moz su stackoverflow per questi radio button perchè li volevo veri, ma non ho capito che fanno ste due cose, li ho copiati così com'erano */
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: white;
  border-radius: 50%;
}

input[type="radio"]:checked {
  border: 6px solid #005fff;
}

label {
  margin-right: 10px;
  vertical-align: top;

}

.head-col {
  line-height: 40px;
  border-bottom: 1px solid #909090;
  text-align: center;
}

.border-col {
  border: 1px solid #909090;
}

.padding-col {
  padding: 30px;
}

h3 {
  font-size: 25px;
}

.prezzo {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px;
}

.caratteristiche-promo {
  color: #909090;
  margin-bottom: 50px;
}

.block-margin {
  display: block;
  margin: 30px 0px;
}

.allineamento-verticale-testo{
  display: inline-block;
}

.button-col{
padding: 10px calc((100% - 100px) / 3);
}

.divisorio-small {
  width: 60px;
  height: 40px;
  border-bottom: 1px solid #dedee0;
}

ul.fa-ul {
  margin-left: 20px; 
}

.fa-ul li {
  margin: 20px 0px;
}

.width-60 {
  width: 60%;
  background-color: white;

}

.width-40 {
  width: 40%;
  padding-left: 40px;
}

.width-60 img {
  width: 100%;
}

#partner-button {
  background-color: white;
  color: #000000;
  border: 1px solid black;
}

#partner-button:hover {
  background-color: #f5f6f6;
  filter: brightness(1);
}

.img-col {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.margin-bot {
  margin-bottom: 100px;
}

.pubblicita {
  background-color: #f5f5f5; 
  width: 100%
}

.spazio-pubblicitario {
  width: 30vw;
}

.text-pubblicitario {
  width:calc(100% - 60vw);
  height: 30vw;
  overflow-y: auto;
}

.container-img {
  width: 15vw;
  position: relative;
  box-sizing: border-box;
  border: 15px solid rgba(255, 255, 255, 0);
  height: 15vw;
}

.img-sponsor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.img-sponsor img {
  width: 100%;
  filter: invert(1);
}

.container-img:hover {
  border:  15px solid rgba(255, 255, 255, 0.5);
}

.text-pubblicitario img{
  width: 25%;
}

.text-pubblicitario p{
  margin: 50px 0px;
}

.background-green {
  background-color: #a2d39b;
  border:  15px solid rgba(255, 255, 255, 0.5);
}

.background-purple {
  background-color: #61082c;
}

.background-celeste {
  background-color: #1d93ce;
}

.background-red {
  background-color: #f91c1d;
}

.background-red2 {
  background-color: #d5001f;
}

.background-celeste2 {
  background-color: #b4d0e7;
}

.background-blue {
  background-color: #0d2481;
}

.background-yellow {
  background-color: #ffd830;
}

.post-pubblicita {
  background-color: #b4d0e7;
}

.red {
  color: #61082c;
  width: 50%;
}

#but-white {
  margin-top: 80px;
  padding: 10px 50px;
  color: black;
  background-color: white;
}

#but-white:hover {
  background-color: #bbbbbb;
  filter: brightness(1);
}

.faq {
 margin-bottom: 100px;
}

h6{
  font-size: 15px;
}

.border-bot {
  border-bottom: 1px solid #dedee0;
  width: 100%;
  position: relative;
  padding: 50px 0;
}

.border-top {
  border-top: 1px solid #dedee0;
}

.fas {
  position: absolute;
  top: 45px;
  right: 0;
}


/* BONUS 2 */

.active-text {
  display: none;
  line-height: normal;
  color: #909090;
  margin-top: 45px;
}

.border-bot:hover .active-text {
  display: inline-block;
}

i.fa-chevron-up {
  display: none;
}

.border-bot:hover i.fa-chevron-up {
  display: inline-block;
}

.border-bot:hover i.fa-chevron-down {
  display: none;
}

/* /BONUS 2 */



/* END MAIN */

/* FOOTER */



footer {
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 80px;
}

.footer-col {
  width: 20%;
}

footer ul li {
  list-style: none;
  line-height: 30px;
}

footer ul li a {
  color: white;
}

.titolo-col {
  font-size: 30px;
  padding-bottom: 20px;
}

.lingua {
  padding-top: 50px;
  border-top: 1px solid #909090;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #909090;
}


